header {
    height: 6%;
    background-color: #123146;
    color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
        padding-left: 50%;
        font-weight: bold;
        margin: 0;
        font-size: 1.5em;
        span {
            color: rgb(98, 202, 98);
        }
    }
    #navmenu {
        ul {
            font-size: 16px;
            list-style-type: none;
            display: inline;
            li {
                font-weight: bold;
                margin-top: 10px;
                float: left;
                margin-right: 50px;
                a {
                    text-decoration: none;
                    color: #ffffff;
                    &:hover {
                        color: rgb(209, 209, 209);
                        transition: all 0.3s;
                    }
                }
            }
        }
        input {
            font-size: 15px;
            margin-right: 10px;
            color: black;
            &:focus {
                outline: 2px solid rgb(106, 69, 29);
                transition: all 0.3s;
            }
        }

        button{
            margin: 5px
        }
    }
}