#post{
    margin-left: auto;
    margin-right: auto;
    margin-top: -1px;
    padding: 5px;
    border: 1px solid rgb(122, 122, 122);
    width: 40%;

    #nadpis-postu{
        font-size: 30px;
    }

    #text-postu{
        font-size: 16px;
    }
}