#body {
    background-color: #0B1416;
    color: white;
    width: 100%;

    #banner{
        text-align: center;
        textarea{
            font-size: 24px;
            padding: 5px;
        }
        button{
            margin-top: 50px;
        }

    }

    #posty{
        margin-left: auto;
        margin-right: auto;
    }
}